<div class="">
   <mat-toolbar class="flex justify-between bg-black  px-12">
        <span class="text-white">Crypto Checker</span>

        <mat-form-field  class="mt-2">
            <mat-select (valueChange)="sendCurrency($event) " class="md:text-base text-white border border-t-0 border-l-0 border-r-0 border-white" [(ngModel)]="SelectedCurrency">
                <mat-option selected value="USD">USD</mat-option>
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="JPY">JPY</mat-option>
                <mat-option value="CAD">CAD</mat-option>
                <mat-option value="POUNDS">POUNDS</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar>
</div>