.example-spacer {
    flex: 1 1 auto;
}
.banner{
    background-image: linear-gradient(to right bottom,
    rgba(35, 55, 32, 0.8),
        rgba(101, 161, 140, 0.6)),
        url(../../../assets/images/blockchain-3750157_1920.jpg);
        height: 80vh;
}